#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.operators {
  display: flex;
  justify-content: center;
}

.operatorbutton {
  width: 150px;
  margin: 10px;
}

.wager {
  width: 250px;
}

.wager-container {
  padding: 10px;
  background-color: #242424;
  border: 5px solid black;
  margin: 10px;
  border-radius: 10px;
}

.player {
  padding: 10px;
  padding-top: 0px;
  background-color: #242424;
  border: 5px solid black;
  margin: 10px;
  border-radius: 10px;
}

.player:hover {
  box-shadow: 0px 0px 10px darkblue;
}

.computer {
  padding: 10px;
  padding-top: 0px;
  background-color: #242424;
  border: 5px solid black;
  margin: 10px;
  border-radius: 10px;
}

.computer:hover {
  box-shadow: 0px 0px 10px darkblue;
}